<div id="feedback-form">
  <h1><%= @form_config['form_title'] || 'Suggestions and Feedback' %></h1>

  <% if @errors.present? %>
    <div id="errors" class="alert alert-danger">
      <ul>
        <% @errors.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @feedback_submission, submit_form_path(id: params[:id]), method: "post") do %>
    <div class="form-group">
      <% if @form_config['feedback_types'].present? %>
        <select name="feedback_type" class="form-control input-sm">
          <%= '<option value="1">Report a problem</option>'.html_safe if @form_config['feedback_types'].include?('bug') %>
          <%= '<option value="4">Suggest an improvement</option>'.html_safe if @form_config['feedback_types'].include?('improvement') %>
          <%= '<option value="18">Ask a question</option>'.html_safe if @form_config['feedback_types'].include?('question_comment') %>
        </select>
      <% end %>
    </div>
    <div class="form-group">
      <%= text_field_tag(:one_line_summary, params[:one_line_summary], class: 'form-control input-sm', placeholder: 'One line summary') %>
    </div>
    <div class="form-group">
      <%= text_area_tag(:description, params[:description], class: 'form-control input-sm', placeholder: 'Description', rows: '3') %>
    </div>
    <div class="form-group">
      <%= text_field_tag(:name, params[:name], class: 'form-control input-sm', placeholder: 'Name (optional)') %>
    </div>
    <div class="form-group">
      <%= text_field_tag(:email, params[:name], class: 'form-control input-sm', placeholder: 'Email (optional)') %>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default btn-sm pull-right" name="submit" value="Submit" />
    </div>
  <% end %>
</div>